.snakemake
config/input.tsv
config/input_spim.tsv
config/config.yaml
config/canfam4.chromosomes.txt
composite_matrix
cOSA_test.annotation_summary.tsv
logs
snpEff
input_beds                        
phyloP
results
store
input_beds
*__pycache__*
data
*egg-info